@import '../system/_var';

.hero {
  margin: 0 auto;
  min-height: 715px;
  background-color: $color_light;
  background-image: url("../img/hero-background.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 60%;
  box-shadow: inset 0 6px 14px -15px rgba(0, 0, 0, 0.35);
}

@media (max-width: 1279px) {
  .hero {
    min-height: 580px;
  }
}

@media (max-width: 767px) {
  .hero {
    min-height: 415px;
    background-position: right 15%;
    background-size: 93%;
  }
}