.availability__image {
  width: 31%;
  height: auto;
  margin-left: 50px;
  margin-right: 50px;
  box-sizing: border-box;
}

@media (max-width: 1279px) {
  .availability__image {
    margin-left: 40px;
    margin-right: 40px;
  }
}


@media (max-width: 767px) {
  .availability__image {
    width: 90%;
    margin: 0 auto;
  }
}