@import '../system/_var';
@import '../system/_font';

.offer__title {
  margin: 0;
  margin-bottom: 30px;

  position: relative;

  font-family: $ToyotaDisplay;
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  color: $color_dark;
}

.offer__title::after {
  position: absolute;
  content: "";
  bottom: -17px;
  left: calc(50% - 40px);
  width: 80px;
  height: 3px;
  background-color: #f27f7f;
}

@media (max-width: 1279px) {
  .offer__title {
    font-size: 24px;
    line-height: 28px;
  }

  .offer__title::after {
    left: calc(50% - 32px);
    width: 64px;
  }
}

@media (max-width: 767px) {
  .offer__title {
    margin-bottom: 60px;

    font-size: 32px;
    line-height: 36px;
  }

  .offer__title::after {
    width: 64px;
  }
}