@import '../system/_var';
@import '../system/_font';

.header-top__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

@media (max-width: 1279px) {
  .header-top__list {
    width: 700px;
  }
}

@media (max-width: 767px) {
  .header-top__list {
    width: 100%;

    flex-direction: column;
  }
}