@import '../system/_var';
@import '../system/_font';

.advantage__item {
  width: 300px;
  padding: 17px 18px;
  border-right: 2px solid #484848;
  box-sizing: border-box;
}

.advantage__item:first-child {
  border-left: 2px solid #484848;
}

.advantage__item:hover {
  background-color: $color_red;

  .advantage__title::before {
    color: $color_light;
  }
}

.advantage__title {
  position: relative;
  margin: 0;
  margin-left: 70px;

  font-family: $ToyotaDisplay;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: $color_light;
  text-transform: uppercase;
}

.advantage__title::before {
  position: absolute;
  top: 0;
  left: -73px;
  font-family: $ToyotaDisplay;
  font-weight: bold;
  font-size: 50px;
  line-height: 52px;
  color: rgba(255,255,255, 0.2);
}

.advantage__title_first::before {
  content: "01";
}

.advantage__title_second::before  {
  content: "02";
}

.advantage__title_third::before  {
  content: "03";
}

.advantage__title_fourth::before  {
  content: "04";
}

.advantage__description {
  margin-top: 16px;
  margin-bottom: 20px;

  font-family: $ToyotaText;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $color_light;
}

@media (max-width: 1279px) {
  .advantage__item {
    width: 175px;
    padding: 17px 12px;
  }

  .advantage__title {
    margin-left: 50px;

    font-size: 12px;
    line-height: 18px;
  }

  .advantage__title::before {
    left: -53px;
    font-size: 34px;
    line-height: 42px;
  }

  .advantage__description {
    margin-top: 16px;
    margin-bottom: 20px;

    font-size: 10px;
    line-height: 14px;
  }

  .advantage__title-br {
    display: none;
  }
}

@media (max-width: 767px) {
  .advantage__item {
    width: 100%;
    padding: 20px 30px;

    border-right: none;
    border-bottom: 2px solid #484848;
  }

  .advantage__item:first-child {
    border-left: none;
  }

  .advantage__title {
    margin-left: 70px;

    font-size: 18px;
    line-height: 24px;
  }

  .advantage__title::before {
    left: -73px;
    font-size: 50px;
    line-height: 52px;
  }

  .advantage__description {
    margin-top: 16px;
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 18px;
  }

  .advantage__title-br {
    display: block;
  }
}
